/* ======== ESTILO GERAL ======== */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.container img {
    width: 100%;
    height: auto;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding-top: 50px;
}

/* ======== LOGO ======== */
.logo {
    width: 120px;
    display: block;
    margin: 0 auto 20px auto;
}

/* ======== TÍTULOS ======== */
h1, h2 {
    text-align: center;
}

h1 {
    font-size: 32px;
    color: #D4A657;
}

h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

/* ======== BOTÕES ======== */
.btn {
    display: block;
    width: 90%;
    margin: 15px auto;
    padding: 14px;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    border: 2px solid #D4A657;
    transition: 0.3s;
}

.btn:hover {
    background-color: #D4A657;
    color: black;
}

/* ======== TEXTOS ======== */
.text-block {
    background-color: #111;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    border-left: 5px solid #D4A657;
}

.text-block p {
    line-height: 1.6;
    font-size: 16px;
}

/* ======== FORMULÁRIO ======== */
form {
    margin-top: 20px;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #D4A657;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: white;
    border: 2px solid #D4A657;
    color: black;
}

/* ======== RODAPÉ ======== */
.footer {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    color: #D4A657;
}