/* ESTILO GERAL */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}


.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding-top: 50px;
}

/* LOGO */
.logo {
    width: 190px;
    display: block;
    margin: 0 auto 20px auto;
}

/* TÍTULO */
h1, h2 {
    text-align: center;
}

h1 {
    font-size: 31px;
    color: #d4a657;
}

h2 {
    font-size: 25px;
    margin-bottom: 5px;
}

/* BOTÕES */
.btn {
    display: block;
    width: 90%;
    margin: 15px auto;
    padding: 14px;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    border: 2px solid #d4a657;
    transition: 0.3s;
}

.btn:hover {
    background-color: #d4a657;
    color:black;
}

/* TEXTO */
.text-block {
    background-color: #d4a657;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    border-left: 5px solid #d4a657;
}

.text-block p {
    line-height: 1.6;
    font-size: 16px;
}

/* FORMULARIO */
